// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field {
	margin-bottom: 20px;
}
.form {
	margin-left: 14px;
}
span {
	font-size: 7px;
}